.searchIcon {
  margin-top: 4px;
  position: relative;
  input {
    border: none;
    background: transparent;
    border-bottom: 1px solid #eee;
    width: 100%;
    outline: none;
    padding-left: 20px;
  }
  .inputIcon {
    position: absolute;
    top: 0;
    left: 0;


    svg {
      width: 20px;
      height: 20px;
    }
  }
  svg {
    width: 30px;
    height: 30px;
  }
}
