header {
  width: 100%;
  position: absolute;

  &:hover {
    background-color: white;
  }
  &:hover {
    a {
      color: black !important;
    }
  }
  &:hover {
    svg {
      fill: black;
    }
  }
  a {
    color: white !important;
  }
  #icon--navigation-primary--cart {
    fill: "black";
  }

  svg {
    fill: white;
    width: 140px;
  }
  .dropdown-menu {
    border-radius: 6px !important;
  }
}
