header {
  width: 100%;
  position: absolute;

  &:hover {
    background-color: white;
  }
  &:hover {
    a {
      color: black !important;
    }
  }
  &:hover {
    svg {
      fill: black;
    }
  }
  a {
    color: white !important;
  }
  #icon--navigation-primary--cart {
    fill: "black";
  }

  svg {
    fill: white;
    width: 140px;
  }

  .searchIcon {
    margin-top: 4px;
    position: relative;
    input {
      border: none;
      background: transparent;
      border-bottom: 1px solid #eee;
      width: 100%;
      outline: none;
    }
    .inputIcon {
      position: absolute;
      top: 0;
      left: 0;

      svg {
        width: 20px;
        height: 20px;
      }
    }
    svg {
      width: 30px;
      height: 30px;
    }
  }
}
