$btn-color: #fa4616;
$btn-hover: darken($btn-color, 8%);
.checkoutCard {
  background: black !important;
  border-radius: 10px;
  position: relative;
  max-height: 50vh;

  h2 {
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: capitalize;
  }
  .orderInfo {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .btn {
    position: absolute;
    bottom: 50px;
    background: $btn-color;
    width: 80%;
    border-radius: 40px;
    letter-spacing: 0.2rem;
    font-size: 0.8rem;

    &:hover {
      background: $btn-hover;
    }
  }
}
.list-group-item {
  padding: 0 0 5px 0 !important;
  margin-top: 10px;

  select {
    border-radius: 8px !important;
  }
}
.col-md-2 {
  padding-right: 21px !important;
}
.col-md-7 {
  padding-left: 5px !important;
}
.paymentCard {
  position: absolute;
  bottom: 8px;
  width: 75%;
  display: flex;
  justify-content: center;

  img {
    &:nth-child(2) {
      margin: 0 10px;
    }
  }
}
